@media only screen and (min-width: 768px) and (max-width: 1200px) {
  /* BANNER */
  #banner {
    height: 50vh;
  }
  #banner img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: 50% 0;
  }
  /* NAV-BAR */
  #nav-bar nav {
    padding-right: 0;
    margin: 0 auto;
  }
  #nav-bar .div-center {
    display: none;
  }
  .div-a {
    padding: 20px;
    border-left: none;
    border-right: 1px solid #343a4038;
  }
  .div-a1 {
    border-left: 1px solid #343a4038;
    padding-left: 30px;
  }
  .div-a2 {
    border-right: 1px solid #343a4038;
  }
  .div-a3 {
    border-left: 1px solid #343a4038;
    padding-left: 40px;
  }
  .div-hid {
    display: inline-block;
    padding: 20px;
    vertical-align: middle;
  }
  /* ABOUT */
  #personal-info ul {
    padding-left: 5%;
    margin-bottom: 0;
  }
  #target {
    padding-left: 5%;
    padding-right: 2%;
  }
  #personal-info {
    padding-left: 2%;
    padding-right: 5%;
  }
  @media only screen and (max-width: 799px) {
    #target h1,
    #personal-info h1 {
      font-size: 27px;
    }
  }
  /* JOB INFO */

  #job-info .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, auto);
    column-gap: 30px;
  }
  .exp {
    grid-row: 1/4;
  }

  .skill {
    grid-row: 4/7;
  }

  .hob {
    grid-row: 7/8;
  }

  .edu {
    grid-row: 1/3;
  }

  .act {
    grid-row: 3/6;
  }

  .lang {
    grid-row: 6/-1;
  }
}
